n8n-workflows/property-marketing-automation-workflow-1.json
{
  "name": "Property Marketing Automation - Workflow 1: Intelligence Engine",
  "nodes": [
    {
      "parameters": {
        "event": "INSERT",
        "table": "properties",
        "filter": {
          "status": "active",
          "marketing_automation_enabled": true
        }
      },
      "id": "supabase-trigger",
      "name": "Supabase Property Insert Trigger",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "property-marketing-trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.THARAGA_API_URL }}/api/automation/marketing/intelligence-engine",
        "authentication": "headerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.THARAGA_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "record",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "Call Intelligence Engine API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-success",
      "name": "If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Supabase Property Insert Trigger": {
      "main": [[{ "node": "Call Intelligence Engine API", "type": "main", "index": 0 }]]
    },
    "Call Intelligence Engine API": {
      "main": [[{ "node": "If Success", "type": "main", "index": 0 }]]
    },
    "If Success": {
      "main": [
        [
          { "node": "Merge Results", "type": "main", "index": 0 }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-03T00:00:00.000Z",
  "versionId": "1"
}

















































